:root {
  /* Cores principais */
  --rosa: #EF018D;
  --vinho: #0C0007;
  --vinho-transparente: rgba(25, 0, 14, 0.5);
  --rosa-escuro-detalhes: #500030;

  /* Tons de cinza */
  --cinza-claro-transparente: rgba(34, 34, 34, 0.5);
  --cinza-escuro: #121212;
  --cinza-escuro-transparente: rgba(18, 18, 18, 0.5);
  --cinza-escuro-detalhes: #222222;
  --cinza-item-desativado: #4D4D4D;

  /* Cores auxiliares */
  --verde: #338543;
  --vermelho: #832F30;

  /* Cores de texto e fundo */
  --branco: #FFFFFF;
  --branco-texto-pequeno: #D9D9D9;
  --preto: #000000;
}
/*Para usar a variavel, digite "--preto" por exemplo, o editor de texto vai te sugerir a variavel como valor*/
/*Caso editar css em outro arquivo: Talvez seja necessário colar esse root em outros css para receber a recomendação do editor de texto*/

/*Exemplo de como usar variaveis e configurações do html*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--preto);
    color: var(--branco)
}